{% extends "network/layout.html" %} {% load static %} {% block body %}
<div id="container">
  <div id="form-div">
    <form method="POST" id="new-post-form" action='{% url "post" %}'>
      <h3>New Post</h3>
      {% csrf_token %} {{ form }}
      <input type="submit" />
    </form>
  </div>
  <div class="posts-div">
    <div class="posts">
      {% for post in posts %}
      <div class="post">
        <ul>
          <li>Genius: {{post.author}}</li>
          <li>Shitpost: {{post.text}} </li>
          <li>Created at: {{post.created_at}} </li>
          <li>Last update: {{post.updated_at}}</li>
          <li>Likes: {{post.liked_by | length}}</li>
        </ul>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %} {% block script %}
<script src="{% static 'network/network.js' %}"></script>
{% endblock %}
