{% extends 'network/layout.html'%} {% load static %} 
{%block body%}

<h2>Followed By: {{followed_by | length }}</h2>
<h3>{% for follower in followed_by %} {{follower}} {%endfor%}</h3>
<h2>Follows: {{is_following | length }}</h2>
<h3>{% for follows in is_following %} {{follows}} {%endfor%}</h3>
{% if user.username != user_viewed %}
<div id="follow-button-div">
  active user: {{ user.username }}. People following this page:
  {{followed_by}}
  USER VIEWED {{ user_viewed }}
  <button id="follow-button" data-profile='{{ user_viewed }}'>   
    {% if user.username in followed_by.all %} Unfollow {% else %} Follow {% endif %}
  </button>
</div>
{%endif%}
---------------------------------------
<div class="posts">
  {% for post in page_obj %}
  <div class="post" id='post{{post.pk}}'>
    <ul>
      <li>Genius: <a href="{% url 'profile' post.author %}">{{post.author}} <a></li>
      {% if user == post.author %}
          <button class='edit-button' data-postpk={{post.pk}}> edit </button>
          Post PK = {{post.pk}}
          {% endif %}
          <li class='post-text'>Shitpost: {{post.text}}</li>
      <li>Created at: {{post.created_at}}</li>
      <li>Last update: {{post.updated_at}}</li>
      <li class='likes'>Likes: {{post.liked_by.all | length}}</li>
        </ul>
        {% comment %} {{post.liked_by.all}} {% endcomment %}
        <button class='like-button' id='like{{post.pk}}' data-postpk={{post.pk}}> 
          {% if user in post.liked_by.all %}
          Dislike
          {% else %}
          Like
          {% endif%}
        </button>
  </div>
  {% endfor %}
</div>
{% comment %} <div class="pagination"> {% endcomment %}
  {% comment %} <span class="step-links"> {% endcomment %}
  <nav aria-label="Page navigation example">
      <ul class="pagination">
    {% if page_obj.has_previous %}
    <li class="page-item"><a class="page-link" href="?page=1">&laquo; first</a> </li>
    <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">previous</a> </li>
    {% endif %}

   <li class="page-item disabled"> <a href="#" class="page-link">
      Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
    </a>
    </li> 



    {% if page_obj.has_next %}
    <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">next</a> </li>
    <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a></li>
    {% endif %} 
  </ul>
</nav>
  {% comment %} </span> {% endcomment %}
{% comment %} </div> {% endcomment %}


{%endblock%}
{% block script %}
<script src="{% static 'network/network.js' %}"></script>
{% endblock %}
