#container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

#form-div{
    display: flex;
    justify-content: center;
    margin: 4px;
    padding: 4px;
}
#new-post-form {
    width: max-content;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center; 
    gap: 4px;
    flex-shrink: 1;
    border: 1px black solid;
    border-radius: 4px;
    padding: 4px;
}

/* #new-post-form > * {
    width: 500px;
} */
