html,
body {
  margin: 0;
  padding: 0;
}
#container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

#form-div{
    display: flex;
    justify-content: center;
    margin: 4px;
    padding: 4px;
}
#new-post-form {
    width: max-content;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center; 
    gap: 4px;
    flex-shrink: 1;
    border: 1px black solid;
    border-radius: 4px;
    padding: 4px;
}

.posts {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    /* gap:2rem; */
    border: 2px solid rgb(0, 0, 0);
}

.post {
    background-color: whitesmoke;
    padding: 1rem;
    display: flex;
    border: 2px dashed gray;
    flex-wrap: wrap;
    flex: 1;
    border-radius: 20px;
    width: 600px;
    margin: 0px auto;
}

.post ul {
    list-style: none;
}
.post li {
    word-break: break-all;
}